.checkbox-black[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid black;
    background-color: black; 

}
.header-content {
    font-size: x-large;
}
.body-content {
    font-size: large;
}
